<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Enter your e-mail
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <p class="subTitle">To receive a reset password link</p>
  </div>
  <form [formGroup]="ionicForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('email')?.touched) && ionicForm.get('email')?.invalid">
        <ion-text *ngIf="errorControl['email'].hasError('required')" class="errorInput" color="danger">
          This field shouldn't be empty!
        </ion-text>
        <ion-text *ngIf="errorControl['email'].hasError('pattern')" class="errorInput" color="danger">
          <p>Provide a valid e-mail!</p>
        </ion-text>
      </div>
      <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()">Send</ion-button>
    </div>
  </form>
</ion-content>
