<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <p class="subTitle">Sign Up to create your account</p>
  </div>

  <form [formGroup]="ionicForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="name" placeholder="name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('name')?.dirty) && ionicForm.get('name')?.hasError('required')">
        <ion-text color="danger">This field shouldn't be empty!</ion-text>
      </div>
      <div *ngIf="(ionicForm.get('name')?.dirty) && ionicForm.get('name')?.hasError('pattern')">
        <ion-text color="danger">Provide a valid name!</ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('email')?.dirty) && ionicForm.get('email')?.hasError('required')">
        <ion-text color="danger">This field shouldn't be empty!</ion-text>
      </div>
      <div *ngIf="(ionicForm.get('email')?.dirty) && ionicForm.get('email')?.hasError('pattern')">
        <ion-text color="danger">Provide a valid e-mail!</ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('password')?.dirty) && ionicForm.get('password')?.hasError('required')">
        <ion-text color="danger">This field shouldn't be empty!</ion-text>
      </div>
      <div *ngIf="(ionicForm.get('password')?.dirty) && ionicForm.get('password')?.hasError('minlength')">
        <ion-text color="danger">The min of characters is 3!</ion-text>
      </div>

      <div class="signinLink">
        <p>
          Already a member?<a [routerLink]="['/login']" style="color:#FFC33F"> Signin now</a>
        </p>
      </div>
    </div>
    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="signUP()" [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
