<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Welcome back
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <p class="subTitle">Sign in to access your account</p>
  </div>

  <form [formGroup]="ionicForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('email')?.touched) && ionicForm.get('email')?.invalid">
        <ion-text *ngIf="errorControl['email'].hasError('required')" class="errorInput" color="danger">This field shouldn't be empty!</ion-text>
        <ion-text *ngIf="errorControl['email'].hasError('pattern')" class="errorInput" color="danger">
          <p>Provide a valid e-mail</p>
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(ionicForm.get('password')?.touched) || (ionicForm.get('password')?.dirty) && ionicForm.get('password')?.invalid">
        <ion-text *ngIf="errorControl['password'].hasError('required')" class="errorInput" color="danger">This field shouldn't be empty!</ion-text>
        <ion-text *ngIf="errorControl['password'].hasError('pattern')" class="errorInput" color="danger">
          <p>The password must have:</p>
          <p>min 8 characters</p>
          <p>min 1 special character</p>
          <p>min 1 number</p>
          <p>min 1 capital letter</p>
        </ion-text>
      </div>
      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F">Forgot password?</a>
      </div>
      <div class="signupLink">
        <p>
          New member?<a [routerLink]="['/signup']" style="color:#FFC33F"> Signup now</a>
        </p>
      </div>
    </div>
    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="logIn()" [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
