<ion-header>
  <ion-toolbar>
    <ion-title>
      Cryptocurrencies
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="signOut()">Sign Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let crypto of cryptos">
      <ion-avatar slot="start">
        <img [src]="getImageUrl(crypto.symbol)" class="crypto-icon" alt="Crypto Icon">
      </ion-avatar>
      <ion-label>
        <h2>{{ getCryptoName(crypto.symbol) }}</h2>
      </ion-label>
      <ion-badge color="primary" class="price-badge" slot="end">
        <p>{{ crypto.price | currency:'USD':'symbol':'1.2-2' }}</p>
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>
</ion-content>
